
@{
    ViewBag.Title = "登陆";
}

<h2>登陆</h2>
<form method="post" action="login/login">
    <div id="username-box">
        <label for="username">用户名：</label>
        <input id ="username-input" type="text" name="username"/>
    </div>
    <div id="password-box">
    <label for="password">密 码：</label>
    <input id="password-input" type="password" name="password"/>
    </div>
    <button type="submit">登陆</button>
</form>

