
@{
    ViewBag.Title = "面雨量统计";
    ViewBag.rainActive = "active";
    ViewBag.rainAreaStatisticActive = "active"; @*设置导航栏上“面雨量统计是选中状态*@
}
@Html.Partial("rainNav")
<h2>@ViewBag.Title</h2>

<p>@ViewBag.content</p>