
@{
        ViewBag.content = "实时降雨";
    ViewBag.rainActive = "active";
    ViewBag.rainRealTimeActive = "active";
}

    @Html.Partial("rainNav")
    <h2>@ViewBag.title</h2>
    <p>@ViewBag.content</p>
@{ 
    var datas = ViewData["table"] as CJSW_WebMVC.Models.QueryResult;
    List<String> th = datas.dataTitles;
    

}